<a href="casa.component.html">
  <button>Volver</button>
</a>
  <div class="card-container">

    <p-card header="Noticias del mundo" 
      subheader="Información Actual" 
      [style]="{ width: '300px', backgroundColor: 'transparent', color: 'Salmon' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://cdn.dribbble.com/users/47240/screenshots/1807216/noticiasmvs_mundoa.gif" />
      </ng-template>
      <p style="color: rgb(0, 0, 0);">
        Entérate de los acontecimientos más relevantes y actualizados que están ocurriendo alrededor del mundo.
      </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
      </ng-template>
    </p-card>

    <p-card header="Información sobre Anime" 
      subheader="Últimos Estrenos" 
      [style]="{ width: '300px', backgroundColor: 'transparent', color: '#76448a' }">
      <ng-template pTemplate="header">
          <img alt="Card" src="https://i.gifer.com/Awch.gif" />
      </ng-template>
      <p style="color: rgb(0, 0, 0);">
        Descubre los estrenos, tendencias y noticias más importantes del mundo del anime.
      </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
      </ng-template>
    </p-card>

    <p-card header="Videojuegos" 
      subheader="Actualidad Gamer" 
      [style]="{ width: '300px', backgroundColor: 'transparent', color: '#76448a' }">
      <ng-template pTemplate="header">
          <img alt="Card" src="https://media.tenor.com/hBwrFCs9EXsAAAAM/infinite-loop.gif" />
      </ng-template>
      <p style="color: rgb(0, 0, 0);">
        Explora las novedades y noticias sobre videojuegos, análisis y próximos lanzamientos.
      </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
      </ng-template>
    </p-card>

    <p-card header="El GOTY de este año" 
      subheader="Juego del Año" 
      [style]="{ width: '300px', backgroundColor: 'transparent', color: '#76448a' }">
      <ng-template pTemplate="header">
          <img alt="Card" src="https://64.media.tumblr.com/10d49e81217384ebe62771a7cad0992b/tumblr_nytfu8hejg1s1rpgbo1_500.gif" />
      </ng-template>
      <p style="color: rgb(0, 0, 0);">
        Conoce cuál ha sido elegido el Juego del Año (GOTY) y por qué ha sido premiado.
      </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
      </ng-template>
    </p-card>

    <p-card header="Noticias sobre Skateboarding" 
      subheader="Skate Actualidad" 
      [style]="{ width: '300px', backgroundColor: 'transparent', color: '#f4d03f' }">
      <ng-template pTemplate="header">
          <img alt="Card" src="https://i.gifer.com/4lEV.gif" />
      </ng-template>
      <p style="color: rgb(0, 0, 0);">
        Entérate de las últimas novedades, competiciones y trucos más destacados del mundo del skateboarding.
      </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
      </ng-template>
    </p-card>

<p-card header="Películas Stop Motion" 
  subheader="Cine Creativo" 
  [style]="{ width: '300px', backgroundColor: 'transparent', color: '#76448a' }">
  <ng-template pTemplate="header">
      <img alt="Card" src="https://i0.wp.com/www.lapausadelrender.com/wp-content/uploads/2016/08/Kubo_faces.gif?resize=525%2C295" />
  </ng-template>
  <p style="color: rgb(0, 0, 0);">
    El stop motion es una técnica cinematográfica que da vida a objetos inanimados mediante animación fotograma a fotograma. Películas como <b>"Coraline"</b> y <b>"Kubo and the Two Strings"</b> son ejemplos destacados.
  </p>
  <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
          </p-button>
      </div>
  </ng-template>
</p-card>

<p-card header="Mecánica" 
  subheader="Innovación y Tecnología" 
  [style]="{ width: '300px', backgroundColor: 'transparent', color: '#f4d03f' }">
  <ng-template pTemplate="header">
      <img alt="Card" src="https://img1.picmix.com/output/stamp/normal/0/8/4/4/2374480_f16b1.gif" />
  </ng-template>
  <p style="color: rgb(0, 0, 0);">
    La mecánica es la base de la ingeniería y la tecnología, abarcando desde sistemas automotrices hasta el diseño de maquinaria industrial y dispositivos avanzados.
  </p>
  <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
          </p-button>
      </div>
  </ng-template>
</p-card>
</div>